---
import HeaderSection from "./HeaderSection.astro";
import FormationsCarousel from "./FormationsCarousel.astro";
import { FORMATIONS } from "../utils/constanst";

---

<div class="p-4 bg-[rgba(255,255,255,0.1)] border border-clev-white/10 backdrop-blur-sm drop-shadow-2xl shadow-black rounded-lg">
    <HeaderSection
        title="Conoce nuestras formaciones"
        description="Descubre nuestras últimas formaciones y cursos online"
    />
    <div class="mt-4">
        <FormationsCarousel formations={FORMATIONS} />
    </div>
</div>


