---
import HeaderSection from "./HeaderSection.astro";
import FormationsCarousel from "./FormationsCarousel.astro";
import { FORMATIONS } from "../utils/constanst";

---


<div>
    <HeaderSection
        title="Conoce nuestras formaciones"
        description="Descubre nuestras últimas formaciones y cursos online"
    />
    <div class="mt-4">
        <FormationsCarousel formations={FORMATIONS} />
    </div>
</div>


