---
import FormationsSection from "./FormationsSection.astro";
import TestimonialsSection from "./TestimonialsSection.astro";
import BottomNav from "./BottomNav.astro";
---

<div class="p-6 h-screen flex flex-col">
  <div class="w-full h-full flex flex-col">
    <div class="flex-1">
      <FormationsSection />
    </div>
    
    <div class="h-[35vh] min-h-[280px]">
      <TestimonialsSection />
    </div>
    
    <div class="flex-shrink-0">
      <BottomNav />
    </div>
  </div>
</div>
