---
import FormationsSection from "./FormationsSection.astro";
import TestimonialsSection from "./TestimonialsSection.astro";
import BottomNav from "./BottomNav.astro";
---

<div class="p-4 h-screen flex flex-col items-center">
  <div class="w-[60%] h-full flex flex-col p-12 bg-clev-white border border-clev-white/10 backdrop-blur-sm drop-shadow-2xl shadow-black rounded-lg">
    <div class="flex-1">
      <FormationsSection />
    </div>
    
    <div class="h-[35vh] min-h-[280px]">
      <TestimonialsSection />
    </div>
    
    <div class="flex-shrink-0">
      <BottomNav />
    </div>
  </div>
</div>
