---
import HeaderSection from "./HeaderSection.astro";
import TestimonialsCarousel from "./TestimonialsCarousel.astro";
---

<section class="p-8">
  <HeaderSection 
    title="Testimonios" 
    description="Lo que dicen nuestros clientes sobre nosotros" 
  />
  
  <div class="mt-2">
    <TestimonialsCarousel />
  </div>
</section>

