---
import HeaderSection from "./HeaderSection.astro";
---

<section class="flex flex-col"> 
    <HeaderSection 
      title="Testimonios" 
      description="Lo que dicen nuestros clientes sobre nosotros" 
    />
  
</section>

