---
import '../styles/global.css';
import Sidebar from '../components/Sidebar.astro';
import MainContent from '../components/MainContent.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Sidebar />
		<main class="min-h-screen bg-gray-100 p-4 md:p-8 pl-0 md:pl-72 transition-all duration-300">
			<MainContent />
			<slot />
		</main>
	</body>
</html>


