---
import '../styles/global.css';
import { 
	SITE_TITLE, 
	SITE_DESCRIPTION, 	
} from '../utils/constanst';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{SITE_TITLE}</title>
		<link rel="icon" type="image/png" href="/favicon.svg" />
		<link rel="preload" href="/fonts/Gilroy-Light.ttf" as="font" type="font/ttf" crossorigin>
		<link rel="preload" href="/fonts/Gilroy-Regular.ttf" as="font" type="font/ttf" crossorigin>
		<link rel="preload" href="/fonts/Gilroy-Medium.ttf" as="font" type="font/ttf" crossorigin>
		<link rel="preload" href="/fonts/Gilroy-Bold.ttf" as="font" type="font/ttf" crossorigin>
		<link rel="preload" href="/fonts/Gilroy-Heavy.ttf" as="font" type="font/ttf" crossorigin>
		<meta name="description" content={SITE_DESCRIPTION} />		
	</head>
	<body class="overflow-hidden">
		<div class="fixed inset-0 z-0">
			<img 
				src="/bg-image.webp" 
				alt="Fondo" 
				class="w-full h-full object-cover opacity-40"
				loading="lazy"
				fetchpriority="high"
			/>
		</div>
		<div class="fixed inset-0 z-10 bg-black opacity-70"/>
		
		<main class="relative z-10 h-screen overflow-hidden">
			<slot />
		</main>
	</body>

	<style is:global>
		html {
			font-family: "Gilroy", sans-serif;
			overflow: hidden;
		}
		body {
			overflow: hidden;
		}
	</style>
</html>


