---
import '../styles/global.css';
import Sidebar from '../components/Sidebar.astro';
import { 
	SITE_TITLE, 
	SITE_DESCRIPTION, 	
} from '../utils/constanst';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{SITE_TITLE}</title>
		<link rel="icon" type="image/png" href="/favicon.svg" />
		<meta name="description" content={SITE_DESCRIPTION} />		
	</head>
	<body class="overflow-hidden">
		<Sidebar />
		<main class="h-screen bg-gray-100 pl-0 md:pl-72 overflow-hidden">			
			<slot />
		</main>
	</body>

	<style is:global>
		html {
			font-family: "Gilroy", sans-serif;
			overflow: hidden;
		}
		body {
			overflow: hidden;
		}
	</style>
</html>


